In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [3]:
odi = pd.read_csv('https://raw.githubusercontent.com/Indupuvi/Chakradbi/main/ODI%20data.csv')

# Exploratory Data Analysis

In [4]:
#Number of rows and Cols
odi.shape

(2500, 15)

In [5]:
odi.head(20)

,Unnamed: 0,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,Unnamed: 13
0,0,SR Tendulkar (INDIA),1989-2012,463,452,41,18426,200*,44.83,21367,86.23,49,96,20,NaN
1,1,KC Sangakkara (Asia/ICC/SL),2000-2015,404,380,41,14234,169,41.98,18048,78.86,25,93,15,NaN
2,2,RT Ponting (AUS/ICC),1995-2012,375,365,39,13704,164,42.03,17046,80.39,30,82,20,NaN
3,3,ST Jayasuriya (Asia/SL),1989-2011,445,433,18,13430,189,32.36,14725,91.2,28,68,34,NaN
4,4,DPMD Jayawardene (Asia/SL),1998-2015,448,418,39,12650,144,33.37,16020,78.96,19,77,28,NaN
5,5,Inzamam-ul-Haq (Asia/PAK),1991-2007,378,350,53,11739,137*,39.52,15812,74.24,10,83,20,NaN
6,6,V Kohli (INDIA),2008-2019,242,233,39,11609,183,59.84,12445,93.28,43,55,13,NaN
7,7,JH Kallis (Afr/ICC/SA),1996-2014,328,314,53,11579,139,44.36,15885,72.89,17,86,17,NaN
8,8,SC Ganguly (Asia/INDIA),1992-2007,311,300,23,11363,183,41.02,15416,73.7,22,72,16,NaN
9,9,R Dravid (Asia/ICC/INDIA),1996-2011,344,318,40,10889,153,39.16,15284,71.24,12,83,13,NaN
10,10,MS Dhoni (Asia/INDIA),2004-2019,350,297,84,10773,183*,50.57,12303,87.56,10,73,10,NaN
11,11,CH Gayle (ICC/WI),1999-2019,301,294,17,10480,215,37.83,12019,87.19,25,54,25,NaN
12,12,BC Lara (ICC/WI),1990-2007,299,289,32,10405,169,40.48,13086,79.51,19,63,16,NaN
13,13,TM Dilshan (SL),1999-2016,330,303,41,10290,161*,39.27,11933,86.23,22,47,11,NaN
14,14,Mohammad Yousuf (Asia/PAK),1998-2010,288,273,40,9720,141*,41.71,12942,75.1,15,64,15,NaN
15,15,AC Gilchrist (AUS/ICC),1996-2008,287,279,11,9619,172,35.89,9922,96.94,16,55,19,NaN
16,16,AB de Villiers (Afr/SA),2005-2018,228,218,39,9577,176,53.5,9473,101.09,25,53,7,NaN
17,17,M Azharuddin (INDIA),1985-2000,334,308,54,9378,153*,36.92,12669,74.02,7,58,9,NaN
18,18,PA de Silva (SL),1984-2003,308,296,30,9284,145,34.9,11443,81.13,11,64,17,NaN
19,19,RG Sharma (INDIA),2007-2019,221,214,32,8944,264,49.14,10063,88.88,28,43,13,NaN

In [ ]:
#data types check
odi.info()

In [ ]:
#summary check
odi.describe()

In [ ]:
#check for null values
odi.columns[odi.isnull().any()], odi.isnull().sum()

In [ ]:
#delete unnamed: 0 column
odi = odi.drop(['Unnamed: 0', 'Unnamed: 13'], axis=1)
odi.head()

In [ ]:
#remove ( from column player and split into region column)
odi[['Player', 'Region']] = odi['Player'].str.split("(", n=1, expand=True)
odi.head()

In [ ]:
#removing ) from region column
odi['Region'] = odi['Region'].map(lambda x: x.rstrip(')'))
odi.head(2)

In [ ]:
#split span column into start and end year
odi[['Start', 'End']] = odi['Span'].str.split("-", n=1, expand=True)
odi.head(2)

In [ ]:
#split region column into region1 and region2
odi[['Region1', 'Region']] = odi['Region'].str.split("/", n=1, expand=True)
odi.head(2)

In [ ]:
#split region1 column into region2
odi[['Region2', 'Region']] = odi['Region'].str.split("/", n=1, expand=True)
odi.head(2)

In [ ]:
#unique values in region1 
print("Region1 unique values are: ", odi.Region1.unique()) 
print("Region2 unique values are: ", odi.Region2.unique())
print("Region unique values are: ", odi.Region.unique())

In [ ]:
def new_co(odi):
    if odi['Region1'] is not None:
        if odi['Region1'].isupper():
            if (odi.Region1=='ICC'):
                return odi['Region2']
            else:
                return odi['Region1']
                
        elif odi['Region'] is not None:
            if odi['Region'].isupper():
                if odi['Region'] is not "ICC":
                    return odi['Region']
            else:
                return odi['Region2']
        else:
                return odi['Region2']
    else:
        return "NA"

In [ ]:
odi['Final Region'] = odi.apply(new_co, axis=1)
odi

In [ ]:
odi["Final Region"].unique()

In [ ]:
#check null values in final region
print(odi["Final Region"].isnull().sum())

In [ ]:
#drop region1, region2, region columns
odi = odi.drop(["Region1", "Region2", "Region"], axis=1)
odi.head()

In [ ]:
#check unique values in final region
odi["Final Region"].unique()

In [ ]:
odi = odi.drop([2148, 949])
odi

In [ ]:
odi["Final Region"].unique()

In [ ]:
#Rmoving data of East African Region 
odi=odi[odi['Final Region'].isnull()==False]

In [ ]:
odi["Final Region"].unique()

In [ ]:
#check null values in final region

odi[odi["Final Region"].isnull()]
odi.isna().sum()

In [ ]:
#removing * from HS column

odi["HS"] = odi["HS"].str.replace('*', '')
odi.tail(50)

In [ ]:
#replacing - with 0 in odi data

odi.replace('-', 0, inplace=True)
odi.tail(20)

In [ ]:
#check datatypes of Runs, Ave, HS, and SR
odi.info()

In [ ]:
#Change datatype of Runs, Ave, HS, and SR to floats
odi[['Runs', 'Ave', 'HS', 'SR']] = odi[['Runs', 'Ave', 'HS', 'SR']].astype('float')

In [ ]:
odi.info()

In [ ]:
odi.groupby('Final Region').mean().sort_values('Mat').tail(10)

# Data Visualization

In [ ]:
#plotting

plt.figure(figsize=(20,15))
# plt.bar(odi['Final Region'], odi['HS'], color='red')
plt.bar(odi['Final Region'], odi['HS'], color='cyan', width=0.5, edgecolor='black')

In [ ]:
plt.figure(figsize=(20,5))
sns.pairplot(odi, hue='Final Region', palette='Set1')

In [ ]:
sns.catplot(x='Final Region', y='HS', data=odi, kind='box', palette='Set3', height=10, aspect=2)

In [ ]:
sns.displot(odi, x='HS', hue='Final Region', kind='kde', palette='Set1', height=10, aspect=2)

In [ ]:
import plotly.express as px
px.scatter(odi, x="HS", y="Player", animation_frame="End", animation_group="Final Region",
           size="Runs", color="Final Region", hover_name="Final Region",
           log_x=False, size_max=200, range_x=[10,250], range_y=[0,90], height=1000)

In [ ]:
import plotly.express as px
px.scatter(odi, x="HS", y="Player", animation_frame="Start", animation_group="Final Region",
           size="Runs", color="Final Region", hover_name="Final Region",
           log_x=False, size_max=200, range_x=[10,250], range_y=[0,90], height=1000)